<div id="<%= dom_id cohort %>" class="card w-96 bg-primary shadow-xl my-8">
  <div class="card-body space-y-4">
    <p class="text-2xl text-white">
      <%= cohort.name %>
    </p>
    <p class="text-white">
      <strong>Candidate count:</strong>
      <%= cohort.candidates.count %>
    </p>
  </div>
</div>
