<h2 class="text-center text-3xl">Education</h2>
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr class="hover">
        <td class="font-bold text-xl">Highest Level</td>
        <td class="text-lg"><%= candidate.highest_level %></td>
      </tr>
      <!-- row 2 -->
      <tr class="hover">
        <td class="font-bold text-xl">Higher Education Name</td>
        <td class="text-lg"><%= candidate.higher_education_name %></td>
      </tr>
      <!-- row 3 -->
      <tr class="hover">
        <td class="font-bold text-xl">Major</td>
        <td class="text-lg"><%= candidate.major %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div>