<div class="flex flex-col justify-center items-center">
  <h1 class="text-4xl text-white my-8">New candidate</h1>
  <%= render "form", candidate: @candidate %>
  <br>
  <div class="my-8">
    <%= link_to "Back to candidates", candidates_path, class: "btn btn-primary" %>
  </div>
</div>
